nav.default {
  height: 55px;
  width: 100%;
  background: #e4e4e4;
  color: #000;
  line-height: 55px;
}

nav.default a {
  color: #000;
  font-family: 'IBM Plex Serif', serif;
  padding: 7px;
  border-radius: 5px;
}

div.banner {
  padding: 10px;
  height: 280px;
  background: url("img/otters.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

div.container {
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 10px;
  height: 100%;
  padding: 15px;
  background: rgb(244, 244, 244);
}

div.container img {
  width: 480px;
  border-radius: 10px;
}

.center {
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
  color: black;
  background: white;
  background-repeat: no-repeat;
  margin: 0;
}

h1{
  text-align: center;
}
